In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Amazon Sale Report.csv')

C:\Users\Welcome\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [4]:
data.shape

(128975, 24)

In [5]:
data.size

3095400

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [7]:
data.isnull()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
128971,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
128972,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
128973,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
128974,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [8]:
data.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [9]:
round(100*(data.isnull().sum()/len(data)),0)

index                  0.0
Order ID               0.0
Date                   0.0
Status                 0.0
Fulfilment             0.0
Sales Channel          0.0
ship-service-level     0.0
Style                  0.0
SKU                    0.0
Category               0.0
Size                   0.0
ASIN                   0.0
Courier Status         5.0
Qty                    0.0
currency               6.0
Amount                 6.0
ship-city              0.0
ship-state             0.0
ship-postal-code       0.0
ship-country           0.0
promotion-ids         38.0
B2B                    0.0
fulfilled-by          70.0
Unnamed: 22           38.0
dtype: float64

In [10]:
data = data.drop('fulfilled-by', axis=1)
data = data.drop('Unnamed: 22', axis=1)

In [11]:
round(100*(data.isnull().sum()/len(data)),0)

index                  0.0
Order ID               0.0
Date                   0.0
Status                 0.0
Fulfilment             0.0
Sales Channel          0.0
ship-service-level     0.0
Style                  0.0
SKU                    0.0
Category               0.0
Size                   0.0
ASIN                   0.0
Courier Status         5.0
Qty                    0.0
currency               6.0
Amount                 6.0
ship-city              0.0
ship-state             0.0
ship-postal-code       0.0
ship-country           0.0
promotion-ids         38.0
B2B                    0.0
dtype: float64

In [15]:
data['promotion-ids']

0                                                       NaN
1         Amazon PLCC Free-Financing Universal Merchant ...
2              IN Core Free Shipping 2015/04/08 23-48-5-108
3                                                       NaN
4                                                       NaN
                                ...
128970                                                  NaN
128971         IN Core Free Shipping 2015/04/08 23-48-5-108
128972                                                  NaN
128973         IN Core Free Shipping 2015/04/08 23-48-5-108
128974         IN Core Free Shipping 2015/04/08 23-48-5-108
Name: promotion-ids, Length: 128975, dtype: object

In [16]:
data['promotion-ids'].describe()

count                                            79822
unique                                            5787
top       IN Core Free Shipping 2015/04/08 23-48-5-108
freq                                             46100
Name: promotion-ids, dtype: object

In [20]:
data['promotion-ids'].mode()

0    IN Core Free Shipping 2015/04/08 23-48-5-108
dtype: object

In [23]:
data['promotion-ids'].fillna(data['promotion-ids'].mode(),inplace=True)

In [24]:
round(100*(data.isnull().sum()/len(data)),0)

index                  0.0
Order ID               0.0
Date                   0.0
Status                 0.0
Fulfilment             0.0
Sales Channel          0.0
ship-service-level     0.0
Style                  0.0
SKU                    0.0
Category               0.0
Size                   0.0
ASIN                   0.0
Courier Status         5.0
Qty                    0.0
currency               6.0
Amount                 6.0
ship-city              0.0
ship-state             0.0
ship-postal-code       0.0
ship-country           0.0
promotion-ids         38.0
B2B                    0.0
dtype: float64

In [28]:
data['promotion-ids'].fillna('IN Core Free Shipping 2015/04/08 23-48-5-108',inplace=True)

In [29]:
data['promotion-ids']

0              IN Core Free Shipping 2015/04/08 23-48-5-108
1         Amazon PLCC Free-Financing Universal Merchant ...
2              IN Core Free Shipping 2015/04/08 23-48-5-108
3              IN Core Free Shipping 2015/04/08 23-48-5-108
4              IN Core Free Shipping 2015/04/08 23-48-5-108
                                ...
128970         IN Core Free Shipping 2015/04/08 23-48-5-108
128971         IN Core Free Shipping 2015/04/08 23-48-5-108
128972         IN Core Free Shipping 2015/04/08 23-48-5-108
128973         IN Core Free Shipping 2015/04/08 23-48-5-108
128974         IN Core Free Shipping 2015/04/08 23-48-5-108
Name: promotion-ids, Length: 128975, dtype: object

In [30]:
round(100*(data.isnull().sum()/len(data)),0)

index                 0.0
Order ID              0.0
Date                  0.0
Status                0.0
Fulfilment            0.0
Sales Channel         0.0
ship-service-level    0.0
Style                 0.0
SKU                   0.0
Category              0.0
Size                  0.0
ASIN                  0.0
Courier Status        5.0
Qty                   0.0
currency              6.0
Amount                6.0
ship-city             0.0
ship-state            0.0
ship-postal-code      0.0
ship-country          0.0
promotion-ids         0.0
B2B                   0.0
dtype: float64

In [31]:
data['Amount'].describe()

count    121180.000000
mean        648.561465
std         281.211687
min           0.000000
25%         449.000000
50%         605.000000
75%         788.000000
max        5584.000000
Name: Amount, dtype: float64

Since imputing the data will give biased results, we will delete the rows containing no amount

In [34]:
import numpy as np

In [35]:
data = data[~np.isnan(data['Amount'])]

In [36]:
round(100*(data.isnull().sum()/len(data)),0)

index                 0.0
Order ID              0.0
Date                  0.0
Status                0.0
Fulfilment            0.0
Sales Channel         0.0
ship-service-level    0.0
Style                 0.0
SKU                   0.0
Category              0.0
Size                  0.0
ASIN                  0.0
Courier Status        4.0
Qty                   0.0
currency              0.0
Amount                0.0
ship-city             0.0
ship-state            0.0
ship-postal-code      0.0
ship-country          0.0
promotion-ids         0.0
B2B                   0.0
dtype: float64

In [37]:
data['Courier Status']

0             NaN
1         Shipped
2         Shipped
3             NaN
4         Shipped
           ...
128970    Shipped
128971    Shipped
128972    Shipped
128973    Shipped
128974    Shipped
Name: Courier Status, Length: 121180, dtype: object

In [38]:
data['Courier Status'].describe()

count      116044
unique          2
top       Shipped
freq       109487
Name: Courier Status, dtype: object

In [41]:
data['Courier Status'].fillna('Shipped',inplace=True)

In [42]:
round(100*(data.isnull().sum())/len(data),0)

index                 0.0
Order ID              0.0
Date                  0.0
Status                0.0
Fulfilment            0.0
Sales Channel         0.0
ship-service-level    0.0
Style                 0.0
SKU                   0.0
Category              0.0
Size                  0.0
ASIN                  0.0
Courier Status        0.0
Qty                   0.0
currency              0.0
Amount                0.0
ship-city             0.0
ship-state            0.0
ship-postal-code      0.0
ship-country          0.0
promotion-ids         0.0
B2B                   0.0
dtype: float64

In [47]:
round(100*(len(data)/128975),1)

94.0

We still have 94% of the data with us

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121180 entries, 0 to 128974
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               121180 non-null  int64
 1   Order ID            121180 non-null  object
 2   Date                121180 non-null  object
 3   Status              121180 non-null  object
 4   Fulfilment          121180 non-null  object
 5   Sales Channel       121180 non-null  object
 6   ship-service-level  121180 non-null  object
 7   Style               121180 non-null  object
 8   SKU                 121180 non-null  object
 9   Category            121180 non-null  object
 10  Size                121180 non-null  object
 11  ASIN                121180 non-null  object
 12  Courier Status      121180 non-null  object
 13  Qty                 121180 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           121149 non-null  object
 17  ship-state          121149 non-null  object
 18  ship-postal-code    121149 non-null  float64
 19  ship-country        121149 non-null  object
 20  promotion-ids       121180 non-null  object
 21  B2B                 121180 non-null  bool
dtypes: bool(1), float64(2), int64(2), object(17)
memory usage: 20.5+ MB

In [48]:
data.describe()

               index            Qty         Amount  ship-postal-code
count  121180.000000  121180.000000  121180.000000     121149.000000
mean    64483.115877       0.961231     648.561465     463652.687525
std     37222.531993       0.214354     281.211687     191316.128616
min         0.000000       0.000000       0.000000     110001.000000
25%     32285.750000       1.000000     449.000000     382421.000000
50%     64474.500000       1.000000     605.000000     500032.000000
75%     96680.250000       1.000000     788.000000     600021.000000
max    128974.000000       8.000000    5584.000000     989898.000000

In [52]:
data['Status'].value_counts()

Shipped                          77596
Shipped - Delivered to Buyer     28761
Cancelled                        10766
Shipped - Returned to Seller      1950
Shipped - Picked Up                973
Pending                            656
Pending - Waiting for Pick Up      281
Shipped - Returning to Seller      145
Shipped - Out for Delivery          35
Shipped - Rejected by Buyer         11
Shipped - Lost in Transit            5
Shipped - Damaged                    1
Name: Status, dtype: int64

In [67]:
d1 = data['Category'].value_counts()

In [68]:
cancelleddata = data[data['Status']=='Cancelled']['Category'].value_counts()

In [69]:
cancelleddata

Set              4199
kurta            4195
Western Dress    1335
Top               829
Ethnic Dress       80
Blouse             75
Bottom             41
Saree              12
Name: Category, dtype: int64

In [70]:
d1

Set              47042
kurta            46717
Western Dress    14704
Top              10165
Ethnic Dress      1093
Blouse             881
Bottom             420
Saree              155
Dupatta              3
Name: Category, dtype: int64

In [104]:
round(100*cancelleddata/d1,2).sort_values(ascending=False)

Bottom           9.76
Western Dress    9.08
kurta            8.98
Set              8.93
Blouse           8.51
Top              8.16
Saree            7.74
Ethnic Dress     7.32
Dupatta           NaN
Name: Category, dtype: float64

In [87]:
bycat = data.groupby('Category')['Amount'].sum().sort_values(ascending=False)
bycat

Category
Set              39204124.03
kurta            21299546.70
Western Dress    11216072.69
Top               5347792.30
Ethnic Dress       791217.66
Blouse             458408.18
Bottom             150667.98
Saree              123933.76
Dupatta               915.00
Name: Amount, dtype: float64

In [89]:
catno = data['Category'].value_counts()
catno

Set              47042
kurta            46717
Western Dress    14704
Top              10165
Ethnic Dress      1093
Blouse             881
Bottom             420
Saree              155
Dupatta              3
Name: Category, dtype: int64

In [93]:
avgperorder = round(bycat/catno,0)
avgperorder

Category
Set              833.0
kurta            456.0
Western Dress    763.0
Top              526.0
Ethnic Dress     724.0
Blouse           520.0
Bottom           359.0
Saree            800.0
Dupatta          305.0
dtype: float64

In [99]:
data.groupby('Status')[['Category','Amount']].sum().sort_values('Amount',ascending = False)

                                   Amount
Status
Shipped                        50324255.0
Shipped - Delivered to Buyer   18650815.0
Cancelled                       6919284.3
Shipped - Returned to Seller    1269644.0
Shipped - Picked Up              661252.0
Pending                          430271.0
Pending - Waiting for Pick Up    192138.0
Shipped - Returning to Seller    107620.0
Shipped - Out for Delivery        26971.0
Shipped - Rejected by Buyer        7295.0
Shipped - Lost in Transit          1997.0
Shipped - Damaged                  1136.0

In [102]:
data.groupby('Status')['Status'].count().sort_values(ascending=False)

Status
Shipped                          77596
Shipped - Delivered to Buyer     28761
Cancelled                        10766
Shipped - Returned to Seller      1950
Shipped - Picked Up                973
Pending                            656
Pending - Waiting for Pick Up      281
Shipped - Returning to Seller      145
Shipped - Out for Delivery          35
Shipped - Rejected by Buyer         11
Shipped - Lost in Transit            5
Shipped - Damaged                    1
Name: Status, dtype: int64

In [110]:
data.groupby('Size')['Size'].value_counts().sort_values(ascending=False)

Size  Size
M     M       21292
L     L       20800
XL    XL      19726
XXL   XXL     17066
S     S       15953
3XL   3XL     14052
XS    XS      10296
6XL   6XL       705
5XL   5XL       526
4XL   4XL       408
Free  Free      356
Name: Size, dtype: int64

In [112]:
data.groupby('Size')['Amount'].sum().sort_values(ascending=False)

Size
M       13906754.37
L       13234886.19
XL      12464965.86
XXL     10636288.45
S       10629210.18
3XL      9157147.68
XS       7022375.20
6XL       576249.33
5XL       425156.63
4XL       334451.64
Free      205192.77
Name: Amount, dtype: float64

In [114]:
data['Amount'].sum()

78592678.29999998

In [115]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121180 entries, 0 to 128974
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               121180 non-null  int64
 1   Order ID            121180 non-null  object
 2   Date                121180 non-null  object
 3   Status              121180 non-null  object
 4   Fulfilment          121180 non-null  object
 5   Sales Channel       121180 non-null  object
 6   ship-service-level  121180 non-null  object
 7   Style               121180 non-null  object
 8   SKU                 121180 non-null  object
 9   Category            121180 non-null  object
 10  Size                121180 non-null  object
 11  ASIN                121180 non-null  object
 12  Courier Status      121180 non-null  object
 13  Qty                 121180 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           121149 non-null  object
 17  ship-state          121149 non-null  object
 18  ship-postal-code    121149 non-null  float64
 19  ship-country        121149 non-null  object
 20  promotion-ids       121180 non-null  object
 21  B2B                 121180 non-null  bool
dtypes: bool(1), float64(2), int64(2), object(17)
memory usage: 20.5+ MB

In [120]:
bystate= data['ship-state'].value_counts().head(10)

In [125]:
perbystate = round(100*(bystate/len(data)),2)

In [126]:
perbystate

MAHARASHTRA       17.39
KARNATAKA         13.53
TAMIL NADU         8.92
TELANGANA          8.78
UTTAR PRADESH      8.21
DELHI              5.28
KERALA             5.08
WEST BENGAL        4.58
ANDHRA PRADESH     4.17
HARYANA            3.46
Name: ship-state, dtype: float64

In [127]:
data['ship-state'].value_counts(normalize=True).head(10)

MAHARASHTRA       0.173943
KARNATAKA         0.135321
TAMIL NADU        0.089221
TELANGANA         0.087801
UTTAR PRADESH     0.082106
DELHI             0.052770
KERALA            0.050772
WEST BENGAL       0.045787
ANDHRA PRADESH    0.041725
HARYANA           0.034569
Name: ship-state, dtype: float64

In [129]:
amtbystate = data.groupby('ship-state')['Amount'].sum().sort_values(ascending=False)
amtbystate

ship-state
MAHARASHTRA      13335534.14
KARNATAKA        10481114.37
TELANGANA         6916615.65
UTTAR PRADESH     6816642.08
TAMIL NADU        6515650.11
                    ...
Pondicherry           529.00
rajsthan              521.00
AR                    493.00
Rajsthan              443.00
PB                    399.00
Name: Amount, Length: 68, dtype: float64

In [133]:
amtperctbystate = round(100*(amtbystate/78592678.29999998),2)
amtperctbystate

ship-state
MAHARASHTRA      16.97
KARNATAKA        13.34
TELANGANA         8.80
UTTAR PRADESH     8.67
TAMIL NADU        8.29
                 ...
Pondicherry       0.00
rajsthan          0.00
AR                0.00
Rajsthan          0.00
PB                0.00
Name: Amount, Length: 68, dtype: float64